body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: linen;
  font-family: avenir;
}

#title {
  border-bottom: 5px solid black;
  font-size: 50px;
}
#main {
  text-align: center;
}

#guesses-container {
  text-align: center;
}

h2 {
  padding: 5px;
  border-radius: 5px;
}
h4 {
  padding: 5px;
  border-radius: 5px;
  background: lemonchiffon;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: darkseagreen;
  color: #fff;
  border: 1px solid darkseagreen;
  border-radius: 4px;
  transition: background-color 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
